body {
  background-image: linear-gradient(-90deg, rgba(0, 161, 224, 0.3), transparent);
  background-color: #79589F;
}

label,
button,
h1,
h2,
footer,
.title,
.content,
a:link,
a:visited,
a:hover {
  color: #fff;
}


ul {
  min-height: 50px;
  max-width: 70%;
  margin: 10px auto;
  list-style-type: none;
}

li  {  
  float: right;
  background-color: hsla(0, 0%, 100%, .25);
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  outline: none;
  border: none;
  margin: 0px 10px;
}

li:hover {
  opacity: .75;
}

li > a {
  text-decoration: none;
}

.home {
  float: left;
}

input,
label {
  display: block;
}

.form-input {
  float: left;
  margin-right: 20px;
}

.title {
  height: 50px;
  float: left;
  margin-left: 10px;
}

section {
  padding: 3em 0 2.5em 0;
  width: 100%;
}

.container {
  display: block;
  width: 600px;
  margin: 0 auto 0;
}

h1,
h2 {
  width: 100%;
  float: left;
  margin: 0;
  font-weight: 100;
  text-align: center;
  line-height: 1em;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.2rem;
  opacity: .75;
  margin-top: 20px;
}

.postcontent {
  height: 250px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 170px;
  padding: 0;
  border: none;
  outline: none;
  line-height: 25px;
  color: #444;
  resize: none
}

button {
  float: right;
  background-color: hsla(0, 0%, 100%, .25);
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  outline: none;
  border: none;
}

button:hover {
  opacity: .75;
}

.posts {
  float: left;
  width: 100%;
  margin: 2em 0 0;
  min-height: 200px;
}

.post {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgb(117, 90, 160), 0 25px 50px 0 rgb(87, 108, 177);
  background-color: white;
  min-height: 100px;
  padding: 20px;
}

.content {
  width: 100%;
  color: black;
}

.unread {
  float: none;
  width: 100%;
}

.updates {
  width: 50%;
  margin: auto;
}

.load-more {
  width: 100%;
  margin: 10px auto;
}

.description {
  min-height: 50px;
}

.form {
  max-width: 50%;
  margin: 100px auto;
  padding: 20px;
}